---
import Page from "../layouts/Page.astro";
import Nav from "../components/Nav.astro";
---

<Page title="Dika">
  <header>
    <Nav />
  </header>

  <main>
    <h1 class="headline">Dika</h1>
  </main>
</Page>
