---
// Ngedefine komponen lain di file yang sama gak bisa,
// makanya musti jadi file sendiri kayak gini tiap-tiap komponennya.

// Ngedefine komponen di front-matter sini, misalnya,
// ibarat ngedefine komponen di body komponen React wkwk.
---

<span>{new Date().toLocaleString()}</span>
